.main{
    margin: 0 auto;
    width: 1200px;
    overflow: hidden;
    &>img{
        float: left;
    }
    .fail{
        span{
            position: absolute;
            display: block;
            height: 100px;
            width: 224px;
            z-index: 1;
            background:#666;
            border-radius: 10px;
            opacity: .5;
            left: 0px;
        }
        position: absolute;
        display: none;
        height: 100px;
        padding: 0 40px;
        left: 45%;
        top: 50%;
        line-height: 100px;
        color: #f00;
        font-size: 18px;
        text-align: center;
    }
    .mright{
        color: #a7a7a7;
        float: right;
        box-sizing: border-box;
        width: 352px;
        border: 1px solid #d0d0d0;
        margin-top: 75px;
        font-size: 13px;
        position: relative;
        padding: 0 50px;
        .regiter{
            font-size: 13px;
            color: #FF7800;
            position: absolute;
            top: 15px;
            left: 20px;
        }
        input[type=text]{
            display: block;
            border-radius: 10px;
            width: 195px;
            background-color: #fcfcfc;
            height: 40px;
            border: 1px solid #e6e6e6;
            padding-left: 45px;
            padding-right: 10px;
            line-height: 35px;
            outline: none;
        }
        #tel{
            margin-top: 50px;
            background: url(../img/login-box.png) no-repeat 0 -90px;
        }
        #pwd{
            background: url(../img/login-box.png) no-repeat 0 -135px;
        }
        div[class$=tip]{
            height: 30px;
            padding-left: 45px;
            line-height: 30px;
            color: #f00;
            font-size: 12px;
        }
        .remember{
            color: #a7a7a7;
            font-size: 12px;
            height: 40px;
            .none{
                height: 100%;
                width: 0;
                display: inline-block;
                vertical-align: middle;
            }
            input,span{
                display: inline-block;
                vertical-align: middle;
            }
            input{
                margin: 0;
                margin-right: 5px;
            }
        }
        #submit{
            color: #fff;
            width: 235px;
            height: 40px;
            display: block;
            background: #C81417;
            color: #fff;
            text-align: center;
            line-height: 40px;
            font-weight: 700;
            font-size: 14px;
            border-radius: 2px;
            margin:0 auto;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        p{
            text-align: center;
            font-size: 12px;
        }
        ul{
            width: 170px;
            margin: 10px auto;
            overflow: hidden;
            font-size: 12px;
            li{
                float: left;
                width: 85px;
                height: 55px;
                text-align:center;
                a{
                    display: block;
                    height: 30px;
                    margin: 0 auto;
                    width:30px;
                    background: url(../img/login-box.png) 0 -180px;
                    margin-bottom: 3px;
                }
            }
            li:nth-child(2) a{
                 background-position-y: -225px;
            }
        }
    }
}
